:root {
  --time: 0.707s;
}

.cards {
  display: -ms-grid;
  display: grid;
  padding-bottom: 3rem;
}

.card_container {
  -webkit-perspective: 40rem;
          perspective: 40rem;
  height: 350px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: var(--time) transform;
  transition: var(--time) transform;
  border: none;
}

.card_container:hover .card-body, .card_container:focus .card-body {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-width: 100%;
  text-align: center;
}

.card-back {
  -webkit-transform: rotateX(-180deg) translate(-100%, 0);
          transform: rotateX(-180deg) translate(-100%, 0);
}

/* Improve aesthetics of cards */
.cards {
  grid-gap: 1.5rem;
  grid-auto-rows: 2fr;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-left: 6rem;
  padding-right: 6rem;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: z-index, -webkit-transform calc(var(--time) / 4);
  transition: z-index, -webkit-transform calc(var(--time) / 4);
  transition: z-index, transform calc(var(--time) / 4);
  transition: z-index, transform calc(var(--time) / 4), -webkit-transform calc(var(--time) / 4);
  -webkit-transition-delay: var(--time), 0s;
          transition-delay: var(--time), 0s;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

.card_container:hover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 1;
}

.card_container:active {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.card-body {
  border-radius: 0.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-front, .card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.shifting_text1 {
  padding-left: 0.5rem;
}

.shifting_text2 {
  padding-left: 0.5rem;
}

.shifting_text3 {
  padding-left: 1.4rem;
}

.project_title {
  font-weight: bold;
}

.kids {
  font-size: 1.5rem;
  color: #fff;
  background: url(../images/child_on_teal_chair_overlay1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wedding {
  font-size: 1.5rem;
  color: #fff;
  background: url(../images/couple_roses_overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.restaurant {
  font-size: 1.5rem;
  color: #fff;
  background: url(../images/delicious_food_overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shadow, .card-front, .card-back {
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04), 0 16px 16px rgba(0, 0, 0, 0.04);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04), 0 8px 8px rgba(0, 0, 0, 0.04), 0 16px 16px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 576px) {
  .cards {
    padding-left: 0rem;
    padding-right: 0;
  }
  .card-front, .card-back {
    min-width: 100%;
  }
  .wedding {
    width: 100px;
  }
  .shifting_text1 {
    margin-left: 0.5rem;
    padding-left: 0;
  }
  .shifting_text2 {
    padding-left: 0.3rem;
  }
  .shifting_text3 {
    padding-left: 0.1rem;
  }
}
/*# sourceMappingURL=cards.css.map */