* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 10vh;
    font-family: 'Lato', sans-serif;
    color: #616161;
}


.view_projects {
    color: #fff;
    border-color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    z-index: 3;
}

