* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #616161;
    font-weight: 400;
    scroll-behavior: smooth;
}

/* Navigation */

a {
    text-decoration: none !important;
    color: #eee !important;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../images/white_keyboard_overlay.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero_container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.menu-toggle {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    color: #eeeeee;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 10000;
    display: none;
}

nav {
    padding-top: 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
	font-size: 1.1rem;
}

.brand {
    font-size: 1.7rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn 0.5s forwards;
}

.brand span {
    color: #7700ff
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a {
	padding: 0.4rem 0;
	margin: 0 3rem;
	position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    color: #eeeeee;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ef0d50;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 800px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
		font-size: 1.4rem;
	}

	.brand {
		font-size: 2rem;
	}
  
  .overlay.menu-open,
  nav.menu-open {
	  display: flex;
	  transform: scale(1);
	  opacity: 0.9;
  }
  
}

/* Hero Section*/

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin-top: 8rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem; 
    text-align: center;
    color: #ececec;
    display: block;
    position: relative;
    animation-name: greeting;
    animation-duration: 1.5s;
}

@keyframes greeting {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title h2 {
    font-size: 1.5rem;
    padding-bottom: 0.4rem; 
    color: #fff;
    display: block;
    position: relative;
    animation-name: intro;
    animation-duration: 2s;
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.my_name {
    color:#3e1866;
}


/* General section spacing */

.projects_section, .about_section, .footer_section {
    width: 80%;
    padding-bottom: 2rem;
}

.about_section h2, .about_section h4, .contact_section h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}

/* Button styling */


.hero_btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    border-color: #fff;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    padding: 0.4rem 1rem;
    transition: 0.5s;
    animation-name: heroBtn;
    animation-duration: 3s;
}

@keyframes heroBtn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero_btn:hover {
    background-color: #7700ff;
    border-color: #7700ff;
    padding-right: 31px;
    padding-left: 19px;
}

  .hero_btn:after {
    content: '↓';
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -15px;
    transition: 0.5s;
    font-size: 1.1rem;
  }

  .hero_btn:hover:after {
    opacity: 1;
    right: 13px;
  }

  .project_btns {
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
  }

  .demo_btn, .submit_btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #7700ff;
    border-color: #7700ff;
    border-radius: 20px;
    position: relative;
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.demo_btn:hover, .submit_btn:hover {
    background-color: #EF0D50;
    border-color: #ef0d50;
    padding-right: 30px;
    padding-left: 18px;
}

  .demo_btn:after, .submit_btn:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -12px;
    transition: 0.5s;
  }

  .code_btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    position: relative;
    padding: 0.4rem 1rem;
    transition: 0.5s;
}

.code_btn:hover {
    padding-right: 30px;
    padding-left: 18px;
    background: #ef0d50;
    border-color: #ef0d50; 
    color: #fff;
}

  .code_btn:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -12px;
    transition: 0.3s;
  }

  .demo_btn:hover:after, .code_btn:hover:after, .submit_btn:hover:after {
    opacity: 1;
    right: 10px;
  }

/* About section styling */

/* Projects section styling */

#projects {
    background-color: rgba(14, 7, 22, 0.95);
}

#projects h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 7, 22, 0.1);
    width: 100%;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #dbadc9;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba (0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.container .card:hover {
    height: 420px;
}

.container .card .imgBX {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBX img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/* Icon styling */

.toolbox_container {
    padding-bottom: 2rem;
}

.fa-html5 {
    color: #ff4800;
    font-size: 4rem;
}

.html_icon {
    animation-name: htmlIcon;
    animation-duration: 3.75s;
    animation-timing-function: ease-out;
}

@keyframes htmlIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.fa-css3-alt {
   color: #0084ff;
   font-size: 4rem;
}

.css_icon {
    animation-name: cssIcon;
    animation-duration: 3.25s;
    animation-timing-function: ease-out;
}

@keyframes cssIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.fa-js {
   color: #ffd000;
   font-size: 4rem;
}

.js_icon {
    animation-name: jsIcon;
    animation-duration: 2.75s;
    animation-timing-function: ease-out;
}

@keyframes jsIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.fa-bootstrap {
   color: #7700ff;
   font-size: 4rem;
}

.bootstrap_icon {
    animation-name: bootstrapIcon;
    animation-duration: 2.25s;
    animation-timing-function: ease-out;
}

@keyframes bootstrapIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.fa-git {
   color: #ff5e00;
   font-size: 4rem;
}

.git_icon {
    animation-name: gitIcon;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
}

@keyframes gitIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.fa-react {
   color: #00aeff;
   font-size: 4rem;
}

.react_icon {
    animation-name: reactIcon;
    animation-duration: 1.25s;
    animation-timing-function: ease-out;
}

@keyframes reactIcon {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}


/* Contact section styling */

#contact_container {
    background: #301550;
}

.contact_section {
    width: 100%;
    color: #fff;
}

input[type="text"], input[type="email"], textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
    background: #3e1866;
    color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 0.7;

}

.submit_btn {
    background: #ef0d50;
    border-color: #ef0d50;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: 0 auto;
}

form {
    padding-bottom: 4rem;
    padding-top: 0.5rem;
}


/* Footer styling */

#footer_container {
    background: #0e0716;
    font-family: 'Raleyway', sans-serif;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.fa-linkedin-in, .fa-instagram, .fa-github {
    font-size: 1.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.fa-linkedin-in:hover, .fa-instagram:hover, .fa-github:hover {
    color: #ef0d50;
} 


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    input[type="text"], input[type="email"], textarea {
    width: 90%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }